body {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0px;
}

.header__ul {
  display: flex;
  flex-direction: vertical;
  justify-content: space-between;
  margin: 0 15% 30px 15%;
}

.header__list__ul {
  display: flex;
  flex-direction: vertical;
  justify-content: center;
  align-items: center;
}

ul li {
  margin: 10px;
}

/* #logo {
  color: #ff7900;
  font-size: 25px;
  margin: 0px;
} */

.div__circle {
  border-radius: 40px;
  background-color: rgba(152, 152, 152, 0.8);
  height: 40px;
  width: 40px;
  border-color: white;
  border-style: solid;
  border-width: 0.8px;
}

.div__sort {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
}

.first__section {
  margin: 0 15%;
  height: 300px;
  background-color: #ff7900;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first__section div {
  width: 100%;
}

#circle {
  margin: 20px;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  height: 40px;
  width: 40px;
  border-color: white;
  border-style: solid;
  border-width: 0.8px;
}

.div__margin {
  height: 10px;
}

.middle__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 15%;
}

.second__section {
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 15%;
}

.div__section {
  width: 30%;
  /* margin: 20px; */
  height: auto;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 5px;
  border-color: #c4c4c4;
  align-items: center;
  text-align: center;
}

.p__picture {
  width: 100%;
  height: 200px;
  background-color: rgb(192, 192, 192);
  border-radius: 5px 5px 0 0;
}

.p__contents {
  height: 200px;
  text-align: left;
  align-items: center;
  padding: 5%;
}

.p__last {
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 20px;
}

hr {
  margin: 0 5%;
}

.contents__head {
  font-size: 15pt;
  font-weight: bold;
  margin: 0 0 50px 0;
}

.contents__contents {
  font-size: 12pt;
  color: #797777;
}

.contents__last {
  font-size: 9pt;
  color: #797777;
}

.contents__heart {
  height: 40px;
  width: 40px;
  background-color: #ffbc82;
  border-radius: 3px;
  font-size: 15pt;
  color: rgb(255, 102, 102);
  padding: 0 auto;
}

.all__club {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff7900;
  width: 400px;
  height: 40px;
  margin: 0 0 0 37%;
  color: white;
}

.third_section {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 15%;
}

.third_section .div__section {
  width: 350px;
  height: auto;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 5px;
  border-color: #c4c4c4;
  align-items: center;
  text-align: center;
}

.p__contents__last {
  height: auto;
  text-align: left;
  align-items: center;
  padding: 5%;
}

.div__footer {
  background-color: #c4c4c4;
  height: 100px;
  width: 100%;
}
